<?xml version='1.0' encoding='utf-8'?>
<widget id="com.company.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>App</name>
    <description>
    A mobile app based on Ionic and Cordova.
  </description>
    <author email="you@example.com" href="http://example.com.com/">
    Your Name Here
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <platform name="ios">
        <preference name="deployment-target" value="7.0" />
        <preference name="UIWebViewBounce" value="false" />
        <preference name="BackupWebStorage" value="none" />
        <icon height="57" src=".tmp/resources/ios/icon/icon.png" width="57" />
        <icon height="114" src=".tmp/resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src=".tmp/resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src=".tmp/resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="50" src=".tmp/resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src=".tmp/resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src=".tmp/resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src=".tmp/resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src=".tmp/resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src=".tmp/resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src=".tmp/resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src=".tmp/resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src=".tmp/resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="29" src=".tmp/resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src=".tmp/resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src=".tmp/resources/ios/icon/icon-small@3x.png" width="87" />
        <splash height="1136" src=".tmp/resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src=".tmp/resources/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src=".tmp/resources/ios/splash/Default-736h.png" width="1242" />
        <splash height="2048" src=".tmp/resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" src=".tmp/resources/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src=".tmp/resources/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="480" src=".tmp/resources/ios/splash/Default~iphone.png" width="320" />
    </platform>
    <platform name="android">
        <preference name="android-minSdkVersion" value="16" />
        <preference name="xwalkVersion" value="15+" />
        <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
        <preference name="xwalkMode" value="embedded" />
        <preference name="xwalkMultipleApk" value="true" />
        <icon density="ldpi" src=".tmp/resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src=".tmp/resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src=".tmp/resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src=".tmp/resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src=".tmp/resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src=".tmp/resources/android/icon/drawable-xxxhdpi-icon.png" />
        <splash density="port-ldpi" src=".tmp/resources/android/splash/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src=".tmp/resources/android/splash/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src=".tmp/resources/android/splash/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src=".tmp/resources/android/splash/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src=".tmp/resources/android/splash/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src=".tmp/resources/android/splash/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <engine name="ios" spec="~4.0.1" />
    <engine name="android" spec="~5.1.1" />
    <plugin name="ionic-plugin-keyboard" spec="~2.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.0.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.0.0" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.3" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~1.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="~1.0.1" />
    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
